.header {
    background-color: rgb(134, 129, 124);
    color: white;
    max-height: 100px;
    padding-left: 220px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1604223172843-9541457ba7e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    height: 350px;
}

    .content-subcontainer {
        display: flex;
        flex: 0 0 15em;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 15px;
        background-color: rgba(246, 246, 246, 0.9);
        border-radius: 15px;
        transition: 0.2s;
        box-shadow: 1px 1px 1px 1px rgb(134, 134, 134);
    }

        .content-subcontainer:hover {
          background-color: rgba(246, 246, 246, 1);
          transition: 0.2s;
          box-shadow: 4px 4px 4px 4px rgb(115, 115, 115);
        }

        .content-title-container {
            display: flex;
            padding-left: 20px;
            border-bottom:2px solid rgb(248, 248, 248);
            flex-wrap: wrap;
        }

        .content-body-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
        }

            .content-body-text {
                display:flex;
            }

            .button-container {
                display: flex;
                width: 100%;
            }
  
    .content-laptop-info-container{
        display: flex;
        flex: 0 0 45em;
        flex-direction: row;
        flex-grow: 1;
        margin: 0 15px;
        background-color: rgba(246, 246, 246, 0.9);
        border-radius: 15px;
        /* box-shadow: 2px 3px 3px 4px rgb(226, 226, 226); */
        padding: 50px;
        justify-content: space-between;
        box-shadow: 1px 1px 1px 1px rgb(134, 134, 134);
        transition: 0.2s;
      }
      
      .content-laptop-info-container:hover{
        background-color: rgba(246, 246, 246, 1);
        box-shadow: 3px 3px 3px 3px rgb(115, 115, 115);
        transition: 0.2s;
    }
      .content-laptop-info-subcontainer {
        display: flex;
        flex-direction: column;
        margin: 10px;
        flex: 0 0 15em;
      }

        .content-laptop-info-subcontainer-pay {
          display: flex;
          justify-content: space-around;
        }

      .laptop-image {
        width: 248px;
        height: 248px;
        box-shadow: 2px 3px 3px 4px gainsboro;
        border-radius: 5px;
      }

.button{
    position: relative;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px 3px rgb(226, 226, 226);
    font-size: 16px;
    padding: 0.8em 1.8em;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100%;
    margin: 5px;
  }
  .repayLoan {
    background-color: orange;
  }

  .getLoan {
    background-color: rgb(82, 254, 188);
  }

  .bank {
    background-color: rgb(229, 246, 42);
  }

  .work {
    background-color: rgb(66, 126, 255);
    color: white
  }

  .buyNow {
    background-color: rgb(130, 218, 245);
    color: white
  }

  .button:disabled {
    display:none;
  }
  
  .button:enabled:hover {
    transition-duration: 0.1s;
    box-shadow: 2px 2px 1px 1px rgb(175, 181, 187);
  }
  
  .button:enabled:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  
  .button:enabled:active {
    top: 1px;
  }
  
.laptop-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: green;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

legend {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
  border: none;
}

#moneyAnimation {
  position: relative;
  color: green;
}

@keyframes moneyAnimation {
  0% {
    opacity: 1;
    top: -50px;
  }
  100% {
    opacity: 0;
    top: -70px;
  }
}

.moneyAnimation {
  animation: moneyAnimation 1s forwards;
  position: absolute;
}
